Sakila Core Mike Fiddler

#1. What query would you run to get all the customers inside city_id = 312? 
#Your query should return the customers' first name, last name, email, address, and city.

In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
engine = create_engine('sqlite:///schools.db', echo=True)
conn = engine.connect()

NameError: name 'engine' is not defined

In [6]:
df = pd.read_sql('sakila data/sakila-data.sql')

TypeError: read_sql() missing 1 required positional argument: 'con'

In [1]:
SELECT customer.first_name, customer.last_name, customer.email, address.address, city.city
FROM customer, address, city
WHERE city.city_id = 312

SyntaxError: invalid syntax (2184169449.py, line 1)

In [8]:
#2. What query would you run to get all comedy films? 
#Note that the genre is called the category in this schema.  
#Your query should return film title, description, release year, rating, 
#and special features.
SELECT film.title, film.description, film.release_year, film.rating, film.special_features
FROM film
WHERE category.name = comedy

SyntaxError: invalid syntax (2902658088.py, line 5)

In [9]:
#3. What query would you run to get all the films that Johnny Lollobrigida was in? 
#Your query should return the actor's last name, film title, and release year. 
SELECT actor.last_name, film.title, film.release_year
FROM actor, film
WHERE actor.last_name = Lollobrigida

SyntaxError: invalid syntax (293621161.py, line 3)

In [10]:
#4. What query would you run to get the first and last names of all 
#the actors in the movie titled "Bingo Talented"?
SELECT actor.first_name, actor.last_name
FROM actor
JOIN film
ON film.title = actor.last_name
WHERE film.title = Bingo Talented

SyntaxError: invalid syntax (384661285.py, line 3)

In [11]:
#5. What query would you run to get the customer_id associated with all payments 
#greater than twice the average payment amount? 
#(HINT: use 2* in your query to get twice the amount). 
#Your result should include the customer id and the amount.
SELECT customer.customer_id, payment.amount
FROM customer, payment
WHERE payment.amount > payment.amount*2

SyntaxError: invalid syntax (907947553.py, line 5)

In [12]:
#6. What query would you run to list the first and last names of the 5 customers who 
#have the highest number(count) of payments? You can title the number of 
#payments as num_payments.
SELECT customer.first_name, customer.last_name
	(SELECT COUNT(payment.amount)
    FROM payment
FROM customer
LIMIT 5

SyntaxError: invalid syntax (2256877049.py, line 4)